:root {
    --font-xs: 15px;
    --font-s: 16px;
    --font-md: 20px;
    --font-l: 25px;
    --font-xl: 30px;
    --font-xxl: 50px;
    --font-xxxl: 60px;
}

body {
    font-family: "Roboto", sans-serif;
}

header {
    border-bottom: #CCCCCC 1px solid;

}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

.header__logo {
    margin: 30px 50px;
}

.header-left, .header__buttons {
    display: flex;
    align-items: center;
    gap: 10px
}

.header__nav nav {
    display: flex;
    max-width: 550px;
    justify-content: space-between;
    gap: 30px;
    cursor: pointer;
    font-size: var(--font-xs);
}

.btn1 {
    border: #00000080 1px solid;
    width: 120px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    font-size: var(--font-s);
    font-weight: 600;
}

.btn2 {
    border: 1px #FF6336 solid;
    width: 120px;
    height: 45px;
    background-color: #FF6336;
    color: white;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    font-size: var(--font-s);
    font-weight: 600;
}

main .container {
    max-width: 1400px;
    margin: 0 auto;
}

.banner {
    display: flex;
    flex-direction: column;
    margin: 90px auto;
    max-width: 1200px;
    gap: 50px;
    /* background-image: url("./../assets/images/banner.png"); */
    background-image: url("https://s3-alpha-sig.figma.com/img/b539/ed8c/ae7788d9a0189c8dcdd0caa7bb8dede3?Expires=1717977600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ZAqTVfr4lIHs9J~H8PdRgVdsyK3aGxdq7IucINX7CXh44RqegICbhvwGIAPmsHc~raRn~xqNBlgQUy9GNbZuJAIk5t5gGyALA90j~PwEQsaejZRKVo3CHV0V~OILwG0YII~QHCvFZOIMIqgcUtHmi0i4iwCns0t7Zf2ePCsPz4~E-CiSQqzoJxrnI7LFVYXmhst29g~GZpgfjOkixctJ~gYvYn3AacxXSKDpyrff1AHrVyARNNAWp1dmkaJlBqC4NWVUVN2-CVEvQmB-sZHTKH2926HQZYI33Dq58qwRjynIlcBGpgG9SEJcIJsl-FVHRFgzzDmxHWTsWgcNVO4MdQ__");
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto;

}

.banner__buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px
}

.banner__buttons {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.banner h1 {
    font-size: var(--font-xxxl);
    font-weight: 600;
    width: 45%;
}

h3 {
    font-size: var(--font-l);
}

.banner h3 {
    width: 45%
}

.banner p {
    font-size: var(--font-xs);
    width: 45%;
}

h2 {
    font-size: var(--font-xxl);
    font-weight: 600;
}